body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(97, 7, 7);
    color: #ffffff;
    margin: 20px;
    text-align: center;
    background-image: url("background.gif");
    background-repeat: repeat;
    cursor: url("icons8-hand-cursor-50.png") 16 16, auto;
}

h1 {
    background-color: rgb(126, 35, 35);
}

h2 {
    background-color: rgb(126, 35, 35);
}

h3 {
    background-color: rgb(126, 35, 35);
    text-align: left;
}

p  {
    line-height: 1;
    text-align: left;
    padding-left: 110px;
    padding-right: 600px;
    background-color: black;
    color: red;
}

ul, ol {
    line-height: 3;
    text-align: left;
    padding-left: 100px;
}

table {
    background-color: white;
    color: black;
    width: 60%;
    margin: 0 auto 10px auto;
}

th, td {
    border: 1px dotted black;
}

a {
    color: red;
}

a:hover {
    color: black;
}

img {
    padding-right: 500px;
    box-shadow: 10px 10px 5px red;
}

